{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Path Pages
        </title>
        <link href="{% static 'css/flowcharts.css' %}" rel="stylesheet" type="text/css">
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
                <script src="https://unpkg.com/scrollreveal">
                </script>
                <script src="{% static 'js/main.js' %}">
                </script>
            </link>
        </link>
    </head>
    <body>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a class="nav__logo" href="#">
                        A Path Efter
                    </a>
                </div>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="/home/">
                                Home
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/pie/">
                                Pie Charts
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link active" href="#">
                                Flowcharts
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/logout/">
                                Logout
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu">
                    </i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid1" id="home">
                <figure>
                    <figcaption>
                        Basic Paths
                    </figcaption>
                    <ul class="tree">
                        <li>
                            <code>
                                Knowledge
                            </code>
                            <ul>
                               
                                <li>
                                    <code>
                                        Science
                                    </code>
                                    <ul>
                                        <li>
                                            <code>
                                                BTECH
                                            </code>
                                            <ul>
                                                <li>
                                                    <code>
                                                        Computer Science and Engineering.
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        Mechanical Engineering.
                                                    </code>
                                                </li>
                                                 <li>
                                                    <code>
                                                        Electronics & Communication.
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        ETC...
                                                    </code>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <code>
                                                MEDICAL
                                            </code>
                                           <ul>
                                                <li>
                                                    <code>
                                                        MBBS 
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        BDS 
                                                    </code>
                                                </li>
                                                 <li>
                                                    <code>
                                                        BHMS 
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        ETC...
                                                    </code>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <code>
                                                B.Pharmacy 
                                            </code>
                                            <ul>
                                                <li>
                                                    <code>
                                                       Pharmacy
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        Honours
                                                    </code>
                                                </li>
                                                 <li>
                                                    <code>
                                                        Pharmaceutical Chemistry 
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        ETC...
                                                    </code>
                                                </li>
                                            </ul>
                                        </li>
                                         <li>
                                            <code>
                                                ETC...
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <code>
                                        Commerce
                                    </code>
                                    <ul>
                                        <li>
                                            <code>
                                                B.Com 
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                LLB 
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                CA 
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                ETC... 
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <code>
                                        Arts
                                    </code>
                                    <ul>
                                        <li>
                                            <code>
                                                BBA
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                BMS
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                BFA 
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                ETC... 
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <code>
                                        Humanity
                                    </code>
                                     <ul>
                                        <li>
                                            <code>
                                                BA in Humanities & Social Sciences.
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                Bachelor of Design
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                Bachelor of Science (in Hospitality & Travel)
                                            </code>
                                        </li>
                                        <li>
                                            <code>
                                                ETC... 
                                            </code>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </figure>

            </section>
        </main>
    </body>
</html>