{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/guideDashboard.css'  %}">
</head>
<body>
    <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a class="nav__logo" href="#">
                        A Path Efter
                    </a>
                </div>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="/home">
                                Home
                            </a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav__item">
                            <a class="nav__link" href="/guidesSignup/">
                                Guide-SignUp
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/signup/">
                                SignUp
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/login/">
                                Login
                            </a>
                        </li>
                        {% else %}
                        <li class="nav__item">
                            <a class="nav__link active" href="/pie/">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/pie/">
                                Pie Charts
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/flowcharts/">
                                Flowcharts
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/logout/">
                                Logout
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu">
                    </i>
                </div>
            </nav>
        </header>
<section class="sec">
{% for meeting in data %}
<div class="movie_card" id="bright">
                <div class="info_section">
                    <div class="movie_header">
                        <h1>
                            One New Request
                        </h1>
                        <h4>
                            Student Name: {{ meeting.student.get_full_name }}<br>
                            Email: {{ meeting.student.email }}<br>
                            Date Of Request: {{ meeting.meet|date:"M d, Y" }}
                        </h4>
                    </div>
                </div>
                <div class="blur_back bright_back">
                </div>
            </div>
            {% endfor %}
</section>
</body>
</html>